.section {
  padding-left: 20px;
  display: flex;
  min-height: 40px;
  position: relative;
}

.smallItem {
  box-sizing: border-box;
  color: var(--font-garage-color);
  transition: 300ms;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: none;
  position: relative;
}

.smallItem:hover {
  color: var(--font-garage-color_hover);
  cursor: pointer;
  background: var(--background-color_hover);
}

.ico {
  min-height: 40px;
  min-width: 20px;
}

.indicator {
  position: absolute;
  height: 10px;
  aspect-ratio: 1;
  transform: translateX(-50%) translateY(-50%);
  left: 67%;
  top: 73%;
  background: var(--background-garage-color_hover);
  border-radius: 50%;
}
