.Header {
    height: 100px;
    margin: 30px 0;
    background: var(--background);;
    display: flex;
    border: rgba(51, 51, 51, 0.3) 1px solid;
    justify-content: center;
    min-width: 100vw;
}

.wrapper{
    display: flex;
    height: 100px;
    max-width: var(--max-width);
    flex-grow: 1;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -1px;
}

.logo {
    font-size: 42px;
    font-weight: 700;
    display: flex;
    color: var(--font-secondary-color);
    border-radius: 5px;
    align-items: center;
    min-height: 100%;
}

.menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.menuItem {
    width: 150px;
    height: 100px;
    color: var(--font-secondary-color);
    transition: 300ms;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.menuItem:hover {
    background: var(--background-hover-color);
    color: var(--font-secondary-color_hover);
    cursor: pointer;
    border-bottom: 5px solid var(--font-secondary-color_hover);
    box-sizing: border-box;
}

.userItem{
    background: #a47067;
    width: 150px;
    height: 100px;
    color: var(--font-secondary-color);
    transition: 300ms;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.ico {
    padding: 35px 0 5px;
    min-height: 65px;
    min-width: 25px;
}

.menuItemText{
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding-bottom: 20px;
}

