.UserObjectsContainer > *:not(:last-child) {
  border-bottom: var(--border-style);
}

.fallbackContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fallbackText {
  color: var(--font-grey-color);
}
