@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

:root {
  --max-width: 1440px;
  --font: Roboto, sans-serif;
  --background-color: #fafafa;
  --background-color_hover: #f0f0f0;
  --background-grey-color: #f0f0f0;
  --background-grey-color_hover: #d2d2d2;
  --background-garage-color: #9a270f;
  --background-garage-color_hover: #791808;
  --font-color: #ffffff;
  --font-grey-color: #ababab;
  --font-garage-color: #9a270f;
  --font-garage-color_hover: #791808;
  --border-color: rgb(222, 222, 222);
  --border-style: var(--border-color) solid 1px;
  --border-garage-color: #9a270f;
  --box-shadow-color: rgba(164, 112, 103, 0.3);
  --error-color: #ff0000;
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--font-garage-color);
  background: var(--background-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url('../public/garage-door-background.jpg');
  background-position: top;
  background-position-y: -30px;
  background-size: cover;
  background-repeat: no-repeat;*/
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

textArea::placeholder,
input::placeholder {
  color: var(--font-grey-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-garage-color);
}
