@font-face {
  font-family: "Roboto";
  src: url('../public/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

:root {
  --max-width: 1440px;
  --font: Roboto, sans-serif ;
  --background: #eeeff1;
  --background-grey-color: #E0E0E0FF;
  --background-grey-color-hover: #d3d3d3;
  --font-color: #FFFFFF;
  --font-secondary-color: #9a270f;
  --font-secondary-color_hover: #c5492c;
  --border-color: rgba(141, 141, 141, 0.45)
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

}

body {
  color: var(--font-color);
  background: var(--background-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url('../public/garage-door-background.jpg');
  background-position: top;
  background-position-y: -30px;
  background-size: cover;
  background-repeat: no-repeat;*/
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}