.form {
  display: flex;
  padding: 40px;
  flex-direction: column;
  background: var(--background-color);
  border-radius: 3px;
  border: var(--border-style);
  justify-self: center;
  align-items: center;
}

.title {
  color: var(--font-garage-color);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}
