.spinnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 21px;
  width: 21px;
}

.spinner_pending {
  animation: rotate 700ms linear infinite;
}

.spinner_white {
  color: var(--font-color);
}

.spinner_colored {
  color: var(--font-garage-color);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
