.spinner {
    height: 21px;
    width: 21px;
    color: var(--font-secondary-color);
}

.spinner_pending {
    animation: rotate 700ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}