.section{
    padding-left: 10px;
    display: flex;
}

.smallItem{
    width: 40px;
    color: var(--font-secondary-color);
    transition: 300ms;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.ico {
    min-height: 21px;
    min-width: 21px;
    margin: 10px 0 5px;
}

.loginButton {
    color: var(--font-color);
    background: var(--font-secondary-color);
    letter-spacing: 0.09em;
    padding: 10px;
    transition: 300ms;
    border-radius: 2px;
}

.loginButton:hover {
    background: var(--font-secondary-color_hover);
}