.Header {
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    display: flex;
    height: 90px;
    width: 100vw;
    max-width: var(--max-width);
    flex-grow: 1;
    padding: 30px 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    background: blueviolet;
    border-radius: 5px;
    padding: 5px 20px;
    align-items: center;
    min-height: 100%;
}

.menu {
    padding: 5px 0;
    display: flex;
}

.menuItem {
    background: blueviolet;
    transition: 300ms;
    padding: 10px;
    margin: 0 0 0 20px;
    border-radius: 5px;
}

.menuItem:hover {
    background: blue;
    cursor: pointer;
}

.extraHeader{
    min-height: 30px;
    min-width: 100%;
    background: black;
}